<form asp-action="Login">
    <div>
        <label>
            Email
        </label>
        <input type="email" name="UserName" required/>
        <label>
            Password
        </label>
        <input type="password" name="Password" required/>
        <div>
            <input type="submit" value="create"/>
        </div>
    </div>
</form>
