<form asp-action="CustomerWallet">
    <div>
        <label>
            Amount*
        </label>
        <input type="number" name="Amount" required />
        <label>
            Password
        </label>
        <input type="password" name="Password" required />
        <div>
            <input type="submit" value="Create" />
        </div>
    </div>
</form>
