@model MVCE_commerce.DTO.CustomerResponseModel
<div>
    <dl>
        <dd>
            Id
        </dd>
        <dt>
            @Model.Data.CustomerId
        </dt>
        <dd>
            First-Name
        </dd>
        <dt>
            @Model.Data.FirstName
        </dt>
        <dd>
            Last-Name
        </dd>
        <dt>
            @Model.Data.LastName
        </dt>
        <dd>
            Email
        </dd>
        <dt>
            @Model.Data.EmailAddress
        </dt>
       
    </dl>
</div>
