<form asp-action="UpdateCustomer">
    <div>
        <label>
            First Name*
        </label>
        <input type="text" name="FirstName" required />
        <label>
            Last Name
        </label>
        <input type="text" name="LastName" required />
        <label>
            Email
        </label>
        <input type="email" name="EmailAddress" required />
        <label>
            Password
        </label>
        <input type="password" name="Password" required />

        <div>
            <input type="submit" value="Edit" />
        </div>
    </div>
</form>