@model MVCE_commerce.DTO.EWalletDTO
<div>
    <dl>
        <dd>
            Id
        </dd>
        <dt>
            @Model.Customer.CustomerId
        </dt>
        <dd>
            Amount
        </dd>
        <dt>
            @Model.Amount
        </dt>
        <dd>
            First Name
        </dd>
        <dt>
            @Model.Customer.FirstName
        </dt>
        <dd>
            Email
        </dd>
        <dt>
            @Model.Customer.EmailAddress
        </dt>
       
    </dl>
</div>
