@model Sales.DTOs.CategoryDTO.CategoryDtO
<div>
    <dl>
        <dd>
            Id
        </dd>
        <dt>
            @Model.CategoryId
        </dt>
        <dd>
            Name
        </dd>
        <dt>
            @Model.Name
        </dt>
        <dd>
            Description
        </dd>
        <dt>
            @Model.Description
        </dt>
    </dl>
</div>
