<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div>
        <a asp-controller="Admin" asp-action="Login" class="btn-outline-secondary">Login</a>
        <a asp-controller="Admin" asp-action="AddAdmin" class="btn-outline-secondary"> Sign in</a>
    </div>
</div>
