@model MVCE_commerce.DTO.AdminDTO
<div>
    <dl>
        <dd>
            Id
        </dd>
        <dt>
            @Model.AdminId
        </dt>
        <dd>
           First-Name
        </dd>
        <dt>
            @Model.FirstName
        </dt>
        <dd>
            Last-Name
        </dd>
        <dt>
            @Model.LastName
        </dt>
        <dd>
            Email
        </dd>
        <dt>
            @Model.EmailAddress
        </dt>
    </dl>
</div>
