@model MVCE_commerce.DTO.ProductDTO
<form asp-action="CreateItem">
    <div>
        <label>
            Name
        </label>
        <input type="text" name="Name" required />
        
        <label>
            Category
        </label>
        <select asp-for="CategoryItems" asp-items="ViewBag.Categories" multiple>
            <option selected disabled>--Select Category--</option>
        </select>
        <div>
            <input type="submit" value="submit" />
        </div>

    </div>
</form> 