@model MVCE_commerce.DTO.ProductDTO
<div>
    <dl>
        <dd>
            Name
        </dd>
        <dt>
            @Model.Name
        </dt>
        <dd>
            ProductNo
        </dd>
        <dt>
            @Model.ItemId
        </dt>
   
    </dl>
</div>
