@model WebApplication3.DTOs.Department.DepartmentDto
<div>
    <dl>
        <dd>
            Id
        </dd>
        <dt>
            @Model.DepartmentId
        </dt>
        <dd>
            Name
        </dd>
        <dt>
            @Model.DepartmentName
        </dt>
        <dd>
            HOD
        </dd>
        <dt>
            @Model.HoD
        </dt>
        <dd>
            Address
        </dd>
        <dt>
            @Model.Address
        </dt>
      
    </dl>
</div>
