<div>
    <form asp-action="AddDepartment">
        <label>
            Name*
        </label>
        <input type="text" name="Name" required/>
        <label>
            Code
        </label>
        <input type="text" name="Code" required/>
        <div>
            <input type="submit" value="Create"/>
        </div>
    </form>
</div>

